 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nunito:wght@300&family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;700&display=swap');

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
 }

 :root{
    --h1-font: 5rem;
    --h2-font:2.9rem;
    --p-font:1.1rem;

    --bg-color:#121b25;
    --text-color:#ffffff;
    --main-color:#1aa090;
    --other-color:#d6d6d6;
 }
 

 @media (max-width: 1425px){
    :root{
    --h1-font: 4.5rem;
    --h2-font:2.6rem;
    --p-font:1rem;
 }

 }

  @media (max-width: 1170px){
   :root{
      --h1-font: 4rem;
    --h2-font:2rem;
    --p-font:1rem;
   }
  }

@media (max-width: 570px){
   :root{
      --h1-font: 3.4rem;
    --h2-font:2rem;
    --p-font:15px;
   }
}