.login{
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;

}

.form-container{
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	max-width: 650px;
	padding: 28px;
	margin: 0 28px;
	border-radius: 10px;
	box-shadow: inset -2px 2px 2px white;
	
}



.top-header {
	font-size:26px ;
	font-weight: 600;
	text-align: center;
	padding-bottom: 6px;
	color: white;
	text-shadow: 2px 2px 2px black;
	border-bottom: 1px solid white;
}
.user-info{
	padding: 20px 0;

    
}
.input-box{
     display: flex;
     flex-wrap: wrap;
    display: flex;
	 justify-content: center;
     align-items: center;
     padding-bottom: 15px;

}

.input-box label{
	color: white;
	font-size: 20px;
	font-weight: 400;
	margin:0 10px;

}

.input-box input{
	height: 40px;
	width: 95%;
	border-radius: 7px;
	outline: none;
	border: 1px solid grey;
	padding: 17px 130px 16px 15px;
	font-size: 14px;
}
 .submit-btn button{
	display: block;
	width: 96%;
	margin: 10px;
	font-size: 20px;
	padding: 10px;
	border-radius: 3px;
	color: var(--text-color);
	background: var(--main-color);
	transition: all 0.3s ease;
}

.user-info p{
	margin-top: 25px;
	text-align: center;
	text-decoration: underline;
	color: var(--other-color);
}

.user-info p:hover{
	color: var(--main-color);
	cursor: pointer;
}

 .submit-btn button:hover{
 	cursor: pointer;
 	color: var(--main-color);
	background: var(--text-color);
 }